SSH_AUTH_SOCK=/var/run/ssh-agent.sock
GIT_REPO=https://github.com/AKSW/pfarrerbuch.jekyllrdf
GIT_EMAIL=example@example.org
GIT_NAME=Example Team
VIRTUAL_HOST=pfarrerbuch.aksw.org
OW_SITE_MODEL=https://pfarrerbuch.aksw.org/
OW_SITE_INDEX=https://pfarrerbuch.aksw.org/About
OW_SITE_ERROR=https://pfarrerbuch.aksw.org/NotFound
DBA_PASSWORD=dba
VIRT_Parameters_NumberOfBuffers="680000"
VIRT_Parameters_MaxDirtyBuffers="500000"
DATA_HOME=$PWD/data/pfarrerbuch/
PUBLIC_PORT=80
